local.properties
*.iml
/hw1/myinfo/.gradle
/hw1/myinfo/.idea
/hw1/myinfo/app/build
/hw2/Intent_activities/.gradle
/hw2/Intent_activities/.idea
/hw2/Intent_activities/app/build

/hw3/.gradle
/hw3/.idea
/hw3/app/build

/hw4/navBar/.gradle
/hw4/navBar/.idea
/hw4/navBar/app/build
